<%# app/views/comments/_comment.html.erb %>
<div class="comment mt-3 text-comment">
  <strong><%= comment.user.first_name %> <%= comment.user.last_name %>:</strong>
  <p><%= comment.description %></p>
</div>
