<%# app/views/comments/_form.html.erb %>
<%= form_with(model: [article, Comment.new], local: false) do |form| %>
  <div class="form-group">
    <%= form.label :description, 'Add a comment' %>
    <%= form.text_area :description, rows: 3, class: 'form-control' %>
  </div>
  <%= form.submit 'Post Comment', class: 'btn btn-primary mt-2' %>
<% end %>
