<%= turbo_stream.append 'comments', partial: 'comments/comment', locals: { comment: @comment } %>

<%= turbo_stream.replace 'comment_form_container' do %>
  <div id="commentFormContainer" class="highlight p-3 mt-3" style="display: none;">
    <%= render partial: 'comments/form', locals: { article: @article } %>
  </div>
<% end %>
