<%# app/views/articles/show.html.erb %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Articles</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-12 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= @article.title %></h5>
            <h6 class="card-subtitle mb-2 text-muted">By: <%= "#{@article.user.first_name} #{@article.user.last_name}" %></h6>
            <p class="card-paragraph"><%= @article.description %></p>
            <% @article.images.each do |image| %>
              <div class="mb-2">
                <%= cl_image_tag image.key, class: "img-fluid", style: "height: 200px; width: 100%; object-fit: cover;" %>
              </div>
            <% end %>
            <div class="d-flex flex-wrap">
              <span class="badge badge-pill badge-primary mr-2"># TAG</span>
              <span class="badge badge-pill badge-primary"># TAG</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.amazonaws.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
