<h2><%= @article.title %></h2>
<p>By: <%= "#{@article.user.first_name} #{@article.user.last_name}"%></p>
<p><%= @article.description %></p>
<% @article.images.each do |image| %>
  <%= cl_image_tag image.key, height: 300, width: 400, crop: :fill %>
<% end %>
