<%# app/views/badges/show.html.erb %>
<div class="container home-container">
  <div class="row">
    <div class="card custom-card">
      <%= image_tag asset_path(@badge.image), alt: @badge.name, class: "badge-show-image img-fluid" if @badge.image.present? %>
      <div class="card-body">
        <h1 class="card-title"><%= @badge.name %></h1>
        <p class="card-text"><%= @badge.description %></p>
      </div>
    </div>
  </div>
</div>
