<!-- app/views/shared/_badge_alert.html.erb -->
<div class="alert alert-success" role="alert">
  Congratulations! You have received the <strong><%= badge.name %></strong> badge. <%= badge.description %>
</div>
