<% @user.badges.each do |badge| %>
  <div class="bash-card">
      <%= link_to badge_path(badge) do %>
        <%= image_tag asset_path(badge.image), alt: badge.name, class: "badge-image mr-3", if: badge.image.present? %>
      <% end %>
      <div>
        <%= link_to badge_path(badge), class: "badge-name-link" do %>
          <h5 class="card-title mb-0"><%= badge.name %></h5>
        <% end %>
    </div>
  </div>
<% end %>
