<!-- Remove the container if you want to extend the Footer to full width. -->
<footer class="text-center text-white" style="background-color: #FE6F61;">
  <!-- Copyright -->
  <div class="text-center p-3 text-color" style="background-color: rgb(239,246,255)">
    © 2024 Copyright, @Gerardo @Warren @Ribot</a>
</div>
<!-- Copyright -->
</footer>
<!-- End of .container -->
