<div class="home-container">
  <h1>Hey <%= current_user ? current_user.name : "Guest" %>! <i class="fa-regular fa-face-smile"></i></h1>
  <p>How are you surviving today?</p>
  <form class="navbar-form navbar-left" action="/action_page.php">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search" id="search-input">
      <div class="input-group-btn" id="submit-button">
        <button class="btn btn-default" type="submit" >
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
    </div>
  </form>
  <%= render "/shared/article-card" %>
</div>
