<div class="home-container">
  <h1>Hey <%= current_user ? current_user.name : "Guest" %>! <i class="fa-regular fa-face-smile"></i></h1>
  <p>How are you surviving today?</p>
  <%= render "/shared/search" %>
  <%= render "/shared/article-card" %>
</div>
