.card-container {
  margin-top: 20px;
}

.card-styling {
  width: 95%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba($color: #9b9b9b, $alpha: 0.7);
  //box-shadow: 2px 2px 8px rgba(170 170 170 0.7);

  img {
    border-radius: 10px;
  }

  #title-card {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;


    h5 {
      color: rgb(0, 0, 0);
    }

    i {
      color: rgb(33, 146, 191);
    }
  }

  ul {
    #li-tags {
      span {
        background: red;
        color: white;
        padding: 5px;
        border-radius: 10px;
      }
    }

    #card-date-comment {
      display: flex;
      justify-content: space-between;
      align-items: center;

      li {
        border: none;
      }

      i {
        color: rgb(33, 146, 191);
      }
    }
  }

  .card-body {

    a {
      background-color: rgb(33, 146, 191);
      border: none;
      border-radius: 10px;
      cursor: pointer;
      transition: 0.3s ease;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

.card-title-link {
  color: black;
  text-decoration: none;
}

.card-title {
  text-transform: uppercase;
}

.card-paragraph{
  text-align: justify;
  font-family: Roboto;
  font-weight: 300;
}
