/* app/assets/stylesheets/components/navbar.scss */
.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: relative;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  position: absolute;
  left: 0;
  width: 100%;
  top: 60px;
  z-index: 1050;
}

.navbar-lewagon .navbar-brand img {

  width: 50px;
  max-height: 50px;
  object-fit: contain;

}

.navbar-toggler {
  position: absolute;
  left: 10px;
  top: 10px;
}

.btn-outline-secondary {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1100;
}

.navbar-nav {
  width: 100%;
}

.nav-item {
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.logo-small {
  height: 35px;
}
