.text-image {
  //border-radius: 5%;
  margin-top: 10px;
}

.button {
  background-color: #2192bf;
  border-radius: 50px;
  margin-left: 2%;
  margin-top: 3%;
  color: white;
  padding: 10px;
}

.text-comment {
  //border-radius: 20px;
  border: solid rgb(224, 217, 217);
  padding-top: 2%;
  padding-left: 2%;
}

.text-input {

  border: solid rgb(199, 199, 199);
}
